<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HockeyNite Live</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">HockeyNite Live</a>
        </div>
    </nav>
    <div class="progress hide" style="margin-top: -3px; margin-bottom: -1px;">
        <div class="indeterminate"></div>
    </div>

    <div ng-app="myapp" ng-init="data" ng-controller="MainCtrl" class="container">

        <br>
        <a class="waves-effect waves-light btn" onclick="refreshData()"><i
                class="material-icons left">autorenew</i>Rafraichir</a>
        <br>
        <input type="text" name="input" ng-model="user" required ng-trim="false" id="betUserInput" placeholder="Nom d'utilisateur"
            ng-change="getBets(user)">
        <div ng-show="hasBets()">
            <h3> Paris </h3>
            <b>Gain totaux:</b> {{betsValue}} <span>$</span>
            <br>
            <table>
                    <thead>
                        <tr>
                            <th>Match</th>
                            <th>Équipe</th>
                            <th>Montant</th>
                            <th>Status</th>
                            <th>Gain</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="bet in bets">
                            <td>{{getMatchName(bet.matchId)}}</td>
                            <td>{{getTeamName(bet.matchId, bet.equipeId)}}</td>
                            <td>{{bet.montant}} <span>$</span></td>
                            <td>
                                <span ng-show="!bet.status">En cours</span>
                                <span ng-show="bet.status">Conclus</span>
                            </td>
                            <td>
                                {{bet.valeurFinale}}
                                <span ng-show="bet.valeurFinale > 0">$</span>
                                <span ng-show="bet.valeurFinale == null">N/A</span>
                            </td>

                        </tr>
                    </tbody>
                </table>
        </div>

        <div>
            <h3> Matchs</h3>
            <ul class="collapsible">
                <li ng-repeat="x in data">
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{x.equipe1.nom}} <b
                            class="vs">vs.</b> {{x.equipe2.nom}}</div>
                    <div class="collapsible-body">
                        <div class="remaining_time">
                            {{formatDate(x.date)}}
                        </div>
                        <div>
                            <div ng-show="areBetsAllowed(x.date)">
                                <input type="number" name="input" ng-model="amount" required ng-trim="false"
                                    placeholder="Montant de la mise">
                                <button ng-click="bet(x.id, 1, user, amount)"
                                    class="btn waves-effect waves-light" type="button" name="action">{{x.equipe1.nom}}

                                </button>

                                <button ng-click="bet(x.id, 2, user, amount)"
                                    class="btn waves-effect waves-light" type="button" name="action">{{x.equipe2.nom}}

                                </button>
                                <br>



                            </div>
                        </div>
                        <div class="pointage">
                            <div class="pointage_equipe">{{x.equipe1.nom}}: {{x.equipe1.pointage}}</div>
                            <div class="pointage_equipe">{{x.equipe2.nom}}: {{x.equipe2.pointage}}</div>

                        </div>
                        <h4>Buts</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Équipe</th>
                                    <th>Joueur</th>
                                    <th>Temps</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="but in x.equipe1.buts   ">
                                    <td>{{x.equipe1.nom}}</td>
                                    <td>{{but.player}}</td>
                                    <td>{{relativeDate(but.date, x.date)}}</td>
                                </tr>
                                <tr ng-repeat="but in x.equipe2.buts   ">
                                    <td>{{x.equipe2.nom}}</td>
                                    <td>{{but.player}}</td>
                                    <td>{{relativeDate(but.date, x.date)}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <h4>Pénalités</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Équipe</th>
                                    <th>Joueur</th>
                                    <th>Temps</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pen in x.equipe1.penalites   ">
                                    <td>{{x.equipe1.nom}}</td>
                                    <td>{{pen.joueur}}</td>
                                    <td>{{relativeDate(pen.temps, x.date, true)}}</td>
                                </tr>
                                <tr ng-repeat="pen in x.equipe2.penalites   ">
                                    <td>{{x.equipe2.nom}}</td>
                                    <td>{{pen.joueur}}</td>
                                    <td>{{relativeDate(pen.temps, x.date, true)}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modalSherbrooke" class="modal">
        <div class="modal-content">
        <h4>Avertissement</h4>
        <p>Les paris sportifs sont ouvert seulement pour les gens qui résident près de la ville de Sherbrooke.
        <br/>
        Nous venons de détecter que vous êtes en dehors du rayon alloué pour miser.
        <br/>
        Suivez le règlement sans quoi votre compte pourrait être suspendu.
        </p>
        </div>
        <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">J'ai compris</a>
        </div>
    </div>
    
    <script src="./js/script.js"></script>
    <script src="./js/importTestData.js"></script>
</body>

</html>